<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Advanced Events (PTY) Ltd</title>

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- NAVBAR -->
    <%- include('partials/navbar') %>

    <!-- HERO -->
    <section class="hero">
      <h1>Discover Amazing Events</h1>

      <p>Book conferences, festivals, workshops and more.</p>

      <a href="#events">
        <button>Explore Events</button>
      </a>
    </section>
  
    <section id="events" class="events">
      <div class="event-card">
        <img src="https://picsum.photos/300/200?1" />

    <% if (events.length === 0) { %>

        <p>No events available.</p>

    <% } %>

    <% events.forEach(event => { %>

        <div class="event-card">

            <img
                src="<%= event.image %>"
                alt="<%= event.title %>"
            >

            <h3><%= event.title %></h3>

            <p>
                Date:
                <%= new Date(event.date).toDateString() %>
            </p>

            <a href="/events/<%= event._id %>">

                <button>Book Now</button>

            </a>

        </div>

    <% }) %>

</section>

    <!-- FOOTER -->
    <%- include('partials/footer') %>
  </body>
</html>